<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Rulset" Description="Custom Rulset" ToolsVersion="14.0">


  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">

    <!-- Do Not Pass Literals As Localized Parameters -->
    <Rule Id="CA1303" Action="None" />

    <!-- Do not directly await a Task -->
    <Rule Id="CA2007" Action="None" />
  </Rules>


  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">

    <!-- Prefix Local Calls With This -->
    <Rule Id="SA1101" Action="None" />

    <!-- Parameters Must Be On Same Line Or Separate Lines -->
    <Rule Id="SA1117" Action="None" />

    <!-- Parameter Must Not Span Multiple Lines -->
    <Rule Id="SA1118" Action="None" />

    <!-- Elements Must Be Documented -->
    <Rule Id="SA1600" Action="None" />

    <!-- File Must Have Header -->
    <Rule Id="SA1633" Action="None" />

    <!-- Do Not Prefix Local Members With This -->
    <Rule Id="SX1101" Action="Warning" />
  </Rules>

</RuleSet>
